@font-face {
    font-display: swap;
    font-family: "Heading";
    font-style: normal;
    font-weight: 600;
    src: url("/src/assets/fonts/saira-condensed-v11-latin-600.woff2");
}
@font-face {
    font-display: swap;
    font-family: "Heading";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/saira-condensed-v11-latin-700.woff2");
}
@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: url("/src/assets/fonts/poppins-v23-latin-regular.woff2");
}
@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: url("/src/assets/fonts/poppins-v23-latin-500.woff2");
}
@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: url("/src/assets/fonts/poppins-v23-latin-600.woff2");
}
@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: url("/src/assets/fonts/poppins-v23-latin-700.woff2");
}
@font-face {
    font-display: swap;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    src: url("/src/assets/fonts/poppins-v23-latin-800.woff2");
}

:root {
    --color-primary: #dafc00;
    --color-secondary: #d3f3df;
    --color-heading-white: #ffffff;
    --color-heading-dark: #143b00;
    --color-text-white: #f1f1f1;
    --color-text-dark: #666666;
    --color-background: #ffffff;
    --color-white: #ffffff;
    --color-dark: #000000;
    --color-offwhite: #e9e9e9;
    --color-banner: #143b00;

    /* Interactive States */
    --color-hover: #004494;

    /* Feedback Colors */
    --color-success: #28a745;
    --color-error: #dc3545;
    --color-warning: #ffc107;

    /* Border and Dividers */
    --color-border: #d1d5db;

    /*========== Font size =====*/
    /* Typography Scale - Step-Based (Tailwind Style) */
    --fs-1: 1rem; // 16px
    --fs-2: 1.125rem; // 18px
    --fs-3: 1.25rem; // 20px
    --fs-4: 1.5rem; // 24px

    --fs-5: clamp(1.5rem, 1.35rem + 0.533vw, 1.75rem); // 24–28px
    --fs-6: clamp(1.5rem, 1.143rem + 1.143vw, 2rem); // 24–32px
    --fs-7: clamp(2.5rem, 1.071rem + 4.571vw, 4.5rem); // 40–72px
    --fs-8: clamp(3rem, 0.232rem + 8.857vw, 6.875rem); // 48–110px

    /*======= Spacing ===========*/
    --space-3xsm: clamp(0.25rem, 0.0625rem + 0.75vw, 0.625rem); //4 - 10
    --space-2xsm: clamp(0.5rem, 0.2813rem + 0.875vw, 0.9375rem); // 8 - 15
    --space-xsm: clamp(0.75rem, 0.5rem + 1vw, 1.25rem); // 12 - 20
    --space-sm: clamp(1rem, 0.5625rem + 1.75vw, 1.875rem); // 16 - 30
    --space-md: clamp(1.5rem, 1rem + 2vw, 2.5rem); // 24 - 40
    --space-lg: clamp(2rem, 1.125rem + 3.5vw, 3.75rem); // 32 - 60
    --space-xl: clamp(3rem, 2rem + 4vw, 5rem); // 48 - 80
    --space-2xl: clamp(4rem, 2.25rem + 7vw, 7.5rem); // 64 - 120
}
