---
import { Image } from "astro:assets";
import Logo from "../assets/images/logo.png";
import Button from "./Button.astro";
---

<header id="header" class="header">
    <div class="header__wrapper container">
        <nav class="header__nav" aria-label="Main navigation">
            <a href="/" class="header__logo" aria-label="Home">
                <Image src={Logo} alt="Revamp" width="100" class="logo" />
            </a>
            <ul class="header__menu" id="main-navigation">
                <li class="header__menu-item">
                    <a
                        href="#about"
                        class="header__menu-link random-text fromRight">About</a
                    >
                </li>
                <li class="header__menu-item">
                    <a href="#service" class="header__menu-link random-text"
                        >Services</a
                    >
                </li>
                <li class="header__menu-item">
                    <a
                        href="#team"
                        class="header__menu-link random-text fromRight">Team</a
                    >
                </li>
                <li class="header__menu-item">
                    <a href="#testimonial" class="header__menu-link random-text"
                        >Testimonial</a
                    >
                </li>
                <li class="header__menu-item">
                    <a href="#pricing" class="header__menu-link random-text"
                        >Pricing</a
                    >
                </li>
                <li class="header__menu-item">
                    <a
                        href="#contact"
                        class="header__menu-link random-text fromRight">FAQ's</a
                    >
                </li>
            </ul>
            <Button
                type="primary"
                link="#"
                text="start free trial"
                className="header__cta"
            />

            <button
                class="header__menu-toggler"
                aria-label="Toggle menu"
                aria-expanded="false"
                aria-controls="main-navigation"
            >
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </button>
        </nav>
    </div>
</header>

<style is:global type="scss">
    @use "../styles/utils" as *;
    $line-thickness: 2px;
</style>
